@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --btn-color: #00c2c7;
}

#root {
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.card {
  padding: 0;
  width: 540px;
  background: white;
  border-radius: 6px;
  border: 2px solid #c5c6c6;
  margin-top: 5%;
  flex: 1;
}
/*
@media screen and (min-width: 40em) {
	.login-card {
		max-width: calc(50% - 1em);
	}
}*/

/*@media screen and (min-width: 60em) {
	.login-card {
		max-width: calc(25% - 1em);
	}
}
*/
.title {
  background-color: rgba(219, 221, 221, 0.4);
  padding: 10px;
  border-bottom: 2px solid #c5c6c6;
  border-radius: 6px;
  font-size: 1.2rem;
}

.title p {
  text-decoration: none;
  font-size: 0.9em;
}

.login-footer {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  width: 100%;
}

.login-btn {
  background: var(--btn-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
}

.login-btn:disabled {
  opacity: 0.3;
}

.login-footer-title {
  font-size: 1.8em;
  color: var(--btn-color);
  font-weight: bold;
}

.login-footer-title {
  margin-bottom: 0;
}

.login-footer select {
  /*-webkit-appearance: none;
	-moz-appearance: none;*/
  padding: 0.5em;
  cursor: pointer;
  color: #c5c6c6;
  border-color: #c5c6c6;
  border-radius: 0.5em;
  font-size: 1.1rem;
  outline: none;
}

select > option {
  color: black;
}

.login-logo {
  width: 50%;
  height: 50%;
  padding: 5% 10%;
}

.navbar {
  position: relative;
  max-height: 6vh;
  width: 100%;
  border-bottom: 2px solid #00c2c7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: fit-content;
  }
}

.nav-item,
.user-nav {
  color: grey;
  font-size: 1.2rem;
  text-decoration: none;
  position: center;
}

.nav-links.left {
  margin-left: 10%;
  flex: 2;
}

.nav-links.right {
  margin-right: 10%;
  margin-left: auto;
}

.user-nav {
  display: flex;
  align-items: center;
}

.avatar {
  width: 25px;
  height: 25px;
  margin: auto 10px;
  border-radius: 50%;
}

.nav-item:hover,
.active {
  text-decoration: none;
  border-bottom: 50px solid #00c2c7;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  color: white;
}

.dashboard {
  border: thin solid #c5c6c6;
  border-radius: 5px;
  min-height: 300px;
  margin: 2% 25%;
}

.dashboard-title {
  display: flex;
  font-size: 1.2em;
  border-bottom: 1px solid #c5c6c6;
  list-style: none;
}

.dashboard-title-item {
  flex: 1 1 0;
  align-items: center;
  padding: 2% 5%;
}

.title-left {
  color: var(--btn-color);
  border-right: 1px solid #c5c6c6;
}

.activated {
  background-color: rgba(219, 221, 221, 0.6);
}

.poll-list {
  height: auto;
}

.poll-item {
  max-width: 100%;
  margin: 1em 1em 0 1em;
}

.poll-item:last-child {
  margin-bottom: 1em;
}

.title h4 {
  text-align: left;
  padding: 5% auto;
  margin: 0;
}

.poll-container {
  display: grid;
  grid-template-columns: auto 60%;
}

.response-poll {
  padding: 1% 4%;
  border-left: thin solid #c5c6c6;
  text-align: left;
}

.user-img {
  display: block;
  width: 60%;
  height: 10em;
  border-radius: 50%;
  padding: 2%;
  margin: auto;
}

.poll-btn {
  border: 1px solid var(--btn-color);
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  color: var(--btn-color);
  font-size: 1em;
  margin-top: 5%;
  width: 100%;
}

.poll-text {
  white-space: nowrap;
  overflow: hidden;
  max-width: 16ch;
  text-overflow: ellipsis;
}

.poll-text::before,
.poll-text::after {
  content: "...";
}

/* New Poll Form */
.form-title {
  background-color: white;
  padding: 0;
}

.sub-title {
  text-align: left;
}

.sub-title p {
  font-size: 1.2em;
}

.newPollForm {
  width: 100%;
}

.newPollForm input {
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  width: 100%;
  color: rgba(219, 221, 221);
  border-color: rgba(219, 221, 221);
  border-radius: 5px;
  cursor: pointer;
}

.newPollForm input:focus {
  color: black;
  outline: none;
}

.newPollForm button {
  margin-top: 4%;
}

.dashed-text {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.dashed-text::before,
.dashed-text::after {
  content: " ";
  flex: 1 1;
  border-bottom: 2px solid rgba(219, 221, 221);
  margin: auto;
}

.dashed-text:before {
  margin-right: 10px;
}

.dashed-text:after {
  margin-left: 10px;
}

#err-msg {
  font-style: italic;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.leader-card {
  display: grid;
  width: 70%;
  min-width: 300px;
  grid-template-columns: 30% auto 20%;
  grid-template-rows: auto;
  margin: 5% auto;
  align-items: center;
  border: 1px solid #c5c6c6;
  border-radius: 5px;
  position: relative;
}

.avatar-rank {
  padding: none;
}

.rank {
  width: 0;
  height: 0;
  border-top: 5.5em solid #c5c6c6;
  border-right: 5em solid transparent;
}

.rank span {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  display: block;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.leader-image {
  display: block;
  border-radius: 50%;
  width: 60%;
  margin: -15% auto 15% auto;
}

.leader-details {
  border-left: thin solid #c5c6c6;
  border-right: thin solid #c5c6c6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 5%;
  text-align: left;
}

.leader-details span {
  float: right;
}

.leader-details hr {
  border: thin solid #c5c6c6;
  width: 100%;
}

.leader-score {
  border: thin solid #c5c6c6;
  margin: 10%;
  border-radius: 5px;
  height: 10em;
}

.score {
  display: flex;
  justify-content: center;
}

.score p {
  height: 2em;
  width: 2em;
  background-color: #00c2c7;
  border-radius: 50%;
  font-size: 1.5em;
  color: white;
  display: inherit;
  justify-content: inherit;
  align-items: center;
}

.question-card {
  margin: 10% auto;
  padding: 5%;
  background-color: rgba(219, 221, 221, 0.3);
  border: 1px solid #c5c6c6;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
}

.voted {
  background-color: rgba(00, 194, 199, 0.3);
  border: 1px solid #00c2c7;
}

.voted > .voted-title {
  color: #00c2c7;
}

.badge-container {
  position: absolute;
  right: -50px;
  top: -25px;
  text-align: center;
}

.badge {
  display: block;
  position: relative;
  background-color: gold;
  overflow: visible;
  width: 6rem;
  height: 4rem;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
  padding: 5%;
  box-shadow: inset 0 0 0 1px white;
  border: 2px dashed #fff;
}

.progress-container {
  background-color: #c5c6c6;
  height: 30px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.progress-item {
  display: inline-flex;
  background-color: #00c2c7;
  height: 100%;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
}
